@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');
//colores
$colortitulos: #290d87;
$unico:#5ED7C6;
$colorparrafos:#000000;
$colorseleccion: #9dafc4;
$colorimages: rgba(87, 46, 229, .8);
//fonts
$fonttitulos:'Montserrat', sans-serif;
$fontparrafos:'Roboto',sans-serif;
$fontsubtitulos: 'Montserrat', sans-serif;
//fondos
$fondogeneral:#FFFFFF;
$fondounico: #F3F5F8;
